## Gnat build artifacts
#
*.o
*.ali
*-loc.xml
gnatinspect.db
*~
auto.cgpr
*.stderr
*.stdout
*.a
*.log
.clang-format
.clangd
.#*
*.deps
*.d


## Build folders
#
build
**/dsa/x86_64-unknown-linux-gnu
bin


## Source
#
2-low/neural/source/attic
2-low/neural/source/attic2
2-low/neural/implement
2-low/neural/applet/test/learn_linear/velocity.net

3-mid/impact/contrib
3-mid/physics/implement/impact/*
3-mid/physics/implement/vox/*
3-mid/physics/implement/box2d/contrib

4-high/gel/source/platform/sdl/attic



## Assets
#
**/assets/opengl
**/assets/gel
**/assets/attic


## Binaries
#
box2d_HelloWorld
launch_simple_instant_events_demo
launch_simple_deferred_events_demo
launch_simple_chat_client
launch_simple_chat_registrar
launch_outline
launch_parse_box
launch_learn_linear
launch_pong
launch_core_test
launch_opengl_model
launch_large_terrain_demo
launch_many_boxes_demo
launch_model_scaling
launch_mouse_selection
launch_render_arrows
launch_render_asteroids
launch_render_billboards
launch_render_boxes
launch_render_screenshot
launch_render_text
launch_two_cameras_demo
launch_egl_linkage_test
generate_gl_types_spec
launch_freetype_linkage_test
launch_hello_physics_interface_2d_demo
launch_hello_physics_interface_3d_demo
launch_drop_ball_on_box
launch_drop_box_on_box
launch_hello_gel
launch_chains_2d
launch_hinged_box
launch_mixed_joints
launch_mixed_joints_2d
launch_mixed_shapes
launch_text_sprite_demo
launch_impact_hello_3d_demo
launch_camera_demo
launch_render_lighting
launch_render_capsules
launch_rig_demo
launch_crunch
launch_render_models
launch_hello_physics_interface_demo
launch_test_engine
launch_strings_demo
test_environ_compression
test_text_replace
test_environ_general
HelloWorld*
5-all/applet/build_all/build_all


## Old Code
#
*-old
old-events


## Misc
#
*.project
gel_chains_demo.ogv
attic
