# Object file
*.o

# Ada Library Information
*.ali

# Gnat build artifacts
*-loc.xml
gnatinspect.db
*~
auto.cgpr

# Build folders
build

# Library files
*.a

*.log

*.stderr
*.stdout

# Binaries
launch_simple_instant_events_demo
launch_simple_deferred_events_demo

3-mid/physics/implement/impact/*
3-mid/physics/implement/vox/*

**/assets/opengl
**/assets/mmi

