## Gnat build artifacts
*.o
*.ali
*-loc.xml
gnatinspect.db
*~
auto.cgpr
*.stderr
*.stdout
*.a
*.log


## Build folders
build
**/dsa/x86_64-unknown-linux-gnu
bin


## Source
2-low/neural/source/attic
2-low/neural/source/attic2
2-low/neural/implement
2-low/neural/applet/test/learn_linear/velocity.net

3-mid/impact/contrib
3-mid/physics/implement/impact/*
3-mid/physics/implement/vox/*


## Assets
**/assets/opengl
**/assets/mmi


## Binaries
launch_simple_instant_events_demo
launch_simple_deferred_events_demo
launch_simple_chat_client
launch_simple_chat_registrar
launch_outline
launch_learn_linear
launch_pong
launch_opengl_model
launch_drop_ball_on_box
launch_hello_mmi
launch_text_sprite_demo
launch_impact_hello_3d_demo
launch_camera_demo
launch_render_lighting
launch_render_capsules
launch_crunch
launch_render_models
launch_hello_physics_interface_demo
launch_test_engine
test_environ_compression
HelloWorld*
5-all/applet/build_all/build_all

## Old Code
*-old
old-events
